<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lina.project.oops.dao.UserDao">
    <insert id="insertUser" parameterType="com.lina.project.oops.entity.User">
        insert users VALUES (DEFAULT, #{userName}, #{password}, #{role})
    </insert>
</mapper>